.container {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: calc(var(--mantine-spacing-xl) * 6);
  z-index: 1;
  position: relative;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    height: 500px;
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  }
}

.title {
  color: var(--mantine-color-white);
  font-size: 30px;
  font-weight: 900;
  line-height: 1.1;
}

.description {
  color: var(--mantine-color-white);
  max-width: 600px;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    max-width: 100%;
    font-size: var(--mantine-font-size-sm);
  }
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    width: 100%;
  }
}
